In [2]:
import pandas as pd

In [5]:
data = pd.read_csv("weather.csv")
data["time"] = pd.to_datetime(data["time"])

In [6]:
data.head()

,time,temperature_2m,relativehumidity_2m,dewpoint_2m,apparent_temperature,pressure_msl,surface_pressure,cloudcover,cloudcover_low,cloudcover_mid,...,soil_temperature_0cm,soil_temperature_6cm,soil_temperature_18cm,soil_temperature_54cm,soil_moisture_0_1cm,soil_moisture_1_3cm,soil_moisture_3_9cm,soil_moisture_9_27cm,soil_moisture_27_81cm,is_day
0,2025-04-05 00:00:00,12.7,94,11.7,12.7,1018.1,977.0,72,33,56,...,12.1,14.8,17.2,16.3,0.154,0.173,0.208,0.225,0.234,0
1,2025-04-05 01:00:00,12.5,94,11.6,12.6,1018.1,977.0,72,26,61,...,11.8,14.4,17.0,16.3,0.157,0.173,0.207,0.225,0.234,0
2,2025-04-05 02:00:00,12.5,93,11.4,12.6,1017.7,976.6,67,10,63,...,11.2,14.1,16.7,16.3,0.159,0.173,0.207,0.225,0.234,0
3,2025-04-05 03:00:00,12.3,93,11.2,12.6,1017.0,975.9,68,10,63,...,10.3,13.7,16.5,16.3,0.161,0.174,0.207,0.225,0.234,0
4,2025-04-05 04:00:00,12.2,94,11.3,12.5,1016.9,975.8,72,9,66,...,10.1,13.2,16.3,16.3,0.163,0.174,0.207,0.225,0.234,0

In [ ]:
data["time"] = pd.to_datetime(data["time"])
data.rename(columns={
    "time": "Date",
    "relativehumidity_2m": "Humidity Inst. (%)",
    "apparent_temperature": "Air Temp. Inst. (Ã‚Â°C)",
    "windspeed_10m": "Wind Speed 10 m Syno. (km/h)",
    "winddirection_10m": "Wind Dir. 10 m Syno. (Ã‚Â°)",
    "precipitation": "Precip. (mm)",
    "shortwave_radiation": "Incoming Solar Rad. (W/m2)",
    }, inplace=True)

columns = [
    "Date",
    "Air Temp. Inst. (Ã‚Â°C)",
    "Humidity Inst. (%)",
    "Wind Speed 10 m Syno. (km/h)",
    "Wind Dir. 10 m Syno. (Ã‚Â°)",
    "Precip. (mm)",
    "Incoming Solar Rad. (W/m2)"
]

columns_to_drop = [column for column in data.columns if column not in columns]
data.drop(columns=columns_to_drop, axis=1, inplace=True)

data["Wind Speed 10 m Avg. (km/h)"] = data["Wind Speed 10 m Syno. (km/h)"].rolling(window=24).mean()
data["Wind Speed 10 m Avg. (km/h)"].fillna(0, inplace=True)

data["Wind Dir. 10 m Avg. (Ã‚Â°)"] = data["Wind Dir. 10 m Syno. (Â°)"].rolling(window=24).mean()
data["Wind Dir. 10 m Avg. (Ã‚Â°)"].fillna(0, inplace=True)

C:\Users\nabil\AppData\Local\Temp\ipykernel_23052\3035326149.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Wind Speed 10 m Avg. (km/h)"].fillna(0, inplace=True)
C:\Users\nabil\AppData\Local\Temp\ipykernel_23052\3035326149.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Wind Dir. 10 m Avg. (Â°)"].fillna(0, inplace=True)

In [62]:
def get_season(month):
    if month in [12, 1, 2]:
        return "Winter"
    elif month in [3, 4, 5]:
        return "Spring"
    elif month in [6, 7, 8]:
        return "Summer"
    else:
        return "Fall"
data["Year"]  = data["Date"].dt.year
data["Month"]  = data["Date"].dt.month
data["Day"]  = data["Date"].dt.day
data["Hour"]  = data["Date"].dt.hour
data.drop("Date", axis=1, inplace=True)  # Drop the original date column
data.sort_index(inplace=True)  # Ensure the data is sorted by time
data["Season"] = data["Month"].apply(get_season)

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Humidity Inst. (%)            168 non-null    int64
 1   Air Temp. Inst. (Â°C)          168 non-null    float64
 2   Wind Speed 10 m Syno. (km/h)  168 non-null    float64
 3   Wind Dir. 10 m Syno. (Â°)      168 non-null    int64
 4   Incoming Solar Rad. (W/m2)    168 non-null    float64
 5   Precip. (mm)                  168 non-null    float64
 6   Wind Speed 10 m Avg. (km/h)   168 non-null    float64
 7   Wind Dir. 10 m Avg. (Â°)       168 non-null    float64
 8   Year                          168 non-null    int32
 9   Month                         168 non-null    int32
 10  Day                           168 non-null    int32
 11  Hour                          168 non-null    int32
 12  Season                        168 non-null    object
dtypes: float64(6), int32(4), int64(2), object(1)
memory usage: 14.6+ KB